
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>aaa</title>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src= "https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
</head>
<style>
	.container-fluid {
  padding: 20px;
  }
.box {
  margin-bottom: 20px;
  float: left;
  width: 220px;
  }
  .box img {
  max-width: 100%
}
</style>
<script>
$(function() {
    var $container = $('#masonry');
    $container.imagesLoaded(function() {
        $container.masonry({
                itemSelector: '.box',
                gutter: 20,
                isAnimated: true,
            });
     });
});
</script>
<body >

<div id="masonry" class="container-fluid">
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="http://assets.jq22.com/plugin/pc-4d064390-29c9-11e4-a320-000c29f61318.png"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="http://assets.jq22.com/plugin/pc-4d064390-29c9-11e4-a320-000c29f61318.png"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
  <div class="box"><img src="http://assets.jq22.com/plugin/pc-4d064390-29c9-11e4-a320-000c29f61318.png"></div>
  <div class="box"><img src="https://gss0.bdstatic.com/5bVWsj_p_tVS5dKfpU_Y_D3/res/r/image/2018-10-24/2fe4ac2bbf1abff8a635c31d68054509.jpg"></div>
</div>

</body>
</html>